{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Growy | {% block Ctitle %}{% endblock Ctitle %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        {% block style %}{% endblock style %}
        .hello_client{
        font-size: 18px;
        color: #fff;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin-top: 5px;
        }
        .order_content{
            height: 200px;
        }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-md" style="background-color: #7951c9;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler bg-light d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contest</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <h4 class="mr-3 hello_client">Hey! {{request.user}} </h4>
                <a href="{% url 'logout' %}" class="btn btn-danger my-2 mr-2 my-sm-0">Logout</a>
            </form>
        </div>
    </nav>

    {% block clientContent %}{% endblock clientContent %}
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>